.cover__link {
  z-index: 0;
  position: relative;
  display: block;
  margin: 0;
  padding: 33px 16px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
  color: inherit;
}

.cover__link::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;
  background-color: #2A2C2F;
}

.cover__link:hover::after {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .cover__link {
    padding: 115px 104px;
  }
}

@media (min-width: 1024px) {
  .cover__link {
    padding: 195px 232px;
  }
}

@media (min-width: 1280px) {
  .cover__link {
    padding: 245px 312px;
  }
}