.cover__subtitle {
  min-width: 288px;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: pre-line;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */
}