.intro {
  display: flex;
  flex-direction: column;
  min-width: 288px;
  margin: 0;
  padding: 0 16px 64px;
  font-family: 'Inter', Arial, sans-serif;
}

@media (min-width: 768px) {
  .intro {
    padding: 0 24px 88px;
  }
}

@media (min-width: 976px) {
  .intro {
    max-width: 928px;
    padding: 0 0 92px;
  }
}

@media (min-width: 1280px) {
  .intro {
    max-width: 984px;
  }
}